<div class="container">

	<%=form_tag "/", :method =>:get, :class => 'form-search' do %>
	<%= text_field_tag(:q, params[:q]) %>
	<%= submit_tag("Search",:class => 'btn') %>
	<% end %>

	
	<table class ='table table-condensed'>
	<tr>
		<th>Beer Name</th>
		<th>Beer Category</th>
	</tr>
	<%@beers.each do |beer|%>
		<tr>
			<td><a href="<%=beer_path(beer)%>"> <%=beer.beer_name%></a></td>
			<td><%=beer.category%></td>
		</tr>
	<%end%>	
</table>




</div>